.section {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #0a0a0a;
    color: white;
    scroll-margin-top: 70px;
}

.container_txt {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.txt_about {
    width: 50%;
    text-align: center;
}

@keyframes rotation {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.icon_about {
    animation: rotation 10s linear infinite;
}

@media screen and (max-width: 1150px) and (min-width: 1024px) {

    .section {
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #0a0a0a;
        color: white;
        scroll-margin-top: 70px;
    }

    .container_txt {
        width: 85%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {

    .section {
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #0a0a0a;
        color: white;
        scroll-margin-top: 70px;
    }

    .container_txt {
        width: 98%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
    }
}

@media screen and (max-width: 768px) {

    .section {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
        background-color: #0a0a0a;
        color: white;
        scroll-margin-top: 70px;
    }

    .icon_about {
        display: none;
    }

    .container_txt {
        width: 98%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
    }

    .txt_about {
        width: 100%;
        text-align: center;
    }
}